@media only screen and (min-width: 1440px) {

.cart-position {
    position: fixed;
    right: 0;
    }
}


app-sidebar {
    position: fixed;
    width: 25%;
}

@media only screen and (max-width: 767px) { 
  .smallscreendisplay { 
    margin-top: 75px;
  } 

  .sidebar-display {
      width: 100%;
  }
}


