<!-- <div class="col-md-10 offset-md-1 card ml-2 mt-3">
  <div class="card-header">
    <h4 class="text-center text-uppercase" style="color:darkred">
      Cart <i class="fa fa-gift" aria-hidden="true"></i>
    </h4>
  </div>
  <div class="card-body scrollable-content">
    <div *ngIf="getCartItems().length < 1">
      <div class="text-center font-weight-bold" style="color:darkred;">
        Your cart feels abandoned!
      </div>
      <div>
        <img
          src="https://dumielauxepices.net/sites/default/files/drawn-smiley-icon-573440-9992264.gif"
          style="width:150px;height:150px;margin-left: 120px;margin-bottom: -40px;"
        />
      </div>
    </div>
    <table cellpadding="10">
      <thead class="font-weight-bold">
        <tr *ngIf="getCartItems().length > 0">
          <td>Name</td>
          <td>Quantity</td>
          <td></td>
          <td>Price</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of getCartItems()">
          <td>{{ item.name }}</td>
          <td class="text-center">{{ item.quantity }}</td>
          <td><i class="fa fa-times"></i></td>
          <td>{{ item.price | currency: "INR":"symbol" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <h5 class="text-uppercase ml-2">
      <span class="align-middle" style="color:olivedrab">Total:</span>
      <span class="font-weight-bold ml-3 align-middle">{{
        getTotalAmount() | currency: 'INR' : 'symbol' : '1.1'
      }}</span>
      <button
        *ngIf="getCartItems().length > 0"
        class="btn btn-success float-right"
        routerLink="/order-details"
      >
        Proceed To Checkout <i class="fa fa-arrow-circle-o-right"></i>
      </button>
    </h5>
  </div>
</div> -->

<div class="row">
 <div class="col-md-10">
  <div class="col-md-12 cart-header">
    <div class="row container"> 
      <div class="col-md-12">Cart</div>
    </div>
  </div>

  <div class="col-md-12 cart-scroll">
    <div class="row container p-2 cart-item" *ngFor="let item of getCartItems()">
      <div class="col-8 col-md-8">
        {{ item.name }}
      </div>
      <div class="col-2 col-md-2">
        {{ item.quantity }}
      </div>
      <div class="col-2 col-md-2 text-right pr-0">
        {{ item.price * item.quantity | currency: 'INR' : 'symbol' : '1.1'}}
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-3">
    <div class="row container pr-0">
      <!-- <div class="col-12"> -->
        <div class="col-8 subtotal">
          Subtotal
        </div>
        <div class="col-4 text-right pr-0 font-weight-bold">
          {{ (getTotalAmount() > 0 ? getTotalAmount() : 0) | currency: 'INR' : 'symbol' : '1.1' }}
        </div>
      <!-- </div> -->
    </div>
    <input type="button" [disabled]="!(getTotalAmount() > 0)" class="btn btn-success col-11 mt-3 ml-3" routerLink="/order-details" value="CHECKOUT  →"/>
    <span style="font-size: 15px; color: red;" class="pl-4">*Special Prices auto applied at checkout</span>
  </div>
 </div>

</div>