<nav class="navbar navbar-dark navbar-expand-lg" style="background:#54a794; position: relative;">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <a href="#" class="navbar-brand" style="color:mintcream">Cherry Brooklyn</a> -->
            <a href="/">
                <img src="../../../assets/images/logo.png" class="navbar-brand" alt="image" height="70px">
                <img src="../../../assets/images/brandname.png" class="navbar-brand" alt="image" height="70px">
            </a>
        </div>

        <div class="" style="font-size:20px;margin-right: 8%">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <i class="fa fa-phone" aria-hidden="true"></i><small>&nbsp;&nbsp; +91 9933887996</small>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <i class="fa fa-envelope" aria-hidden="true"></i><small>&nbsp;&nbsp; contact@cherrybrooklyn.com</small>
                </li>
            </ul>            
        </div>

    </div>
</nav>
