<div id="container" style="background: rgb(244, 251, 243)">
  <canvas [height]="browserWindow.innerHeight" id="smallscreenhide" [width]="browserWindow.innerWidth" #myCanvas></canvas>
  <button routerLink="/order" class="btn btn-success col-md-2 col-centered offset-md-5" id="smallscreenhide">Order Now &nbsp;<i class="fa fa-arrow-circle-o-right"></i>
    </button>
  <div>
    <h1 class="display-4 col-centered col-md-6 offset-md-3 pt-5" style="color:rgb(72, 79, 2);text-align: center;">
      Now Serving in IIT Kharagpur
    </h1>
    <h3 style="color:rgb(220, 100, 20); text-align: center; font-style: italic" class="display-5 col-centered col-md-4 offset-md-4 pt-2">From 2:00 pm to 2:00 am</h3>
    <div  id="smallscreenshow"  style="text-align:center; margin: 30px">
      <button routerLink="/order"class="btn btn-success">
        Order Now &nbsp;<i class="fa fa-arrow-circle-o-right"></i>
      </button>
    </div> 
  </div>
  <img src="./assets/images/shake.png" id="smallscreenhide" alt="image" class="col-md-5 offset-md-1" style="height:480px;width: 420px; position: relative;">
</div>

<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-7">
            <h6>About</h6>
            <p class="text-justify">We are a startup aiming to bring the organic fruit products to the health conscious Market our society is heading to. We deliver 100% Fresh Raw fruit juices without any added preservatives at your doorstep. Our Fruitshakes contains more than 60% of fruit pulp and fresh pure milk so that you don’t only statisfy your taste buds but also put a stepping stone towards a healthy life style.  Do you wish to have fresh fruit nectar every morning on your breakfast table before going to office or you wish to have it on your workdesk or you wish to serve your kids nutrition rich juices before they go for a hectic school day, Cherry Brooklyn is there to serve you fresh organic products at every step.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Flavors</h6>
            <ul class="footer-links">
              <li><a href="/order">Broadway Butterscotch</a></li>
              <li><a href="/order">Greenwich Chikoo</a></li>
              <li><a href="/order">Manhattan Choco Banana</a></li>
              <li><a href="/order">Mapleton Apple</a></li>
              <li><a href="/order">Queens Strawberry</a></li>
              <li><a href="/order">Wall Street Frappe</a></li>
              <li><a href="/order">Woodhaven Papaya</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-2">
            <h6>Reach Us</h6>
            <ul class="footer-links">
              <li>Phone: <br>+919933887996</li>
              <li>Email: <br><a href="mailto:contact@cherrybrooklyn.com">contact@cherrybrooklyn.com</a></li>
              <li>Address: <br>24th Main, 2nd Phase, JP Nagar, Bengaluru, Karnataka - 560078</li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
         <a href="#">CherryBrooklyn</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/pg/CherryBrooklyncom"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/CherryBrooklyn_"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="https://www.instagram.com/cherrybrooklyn_in"><i class="fa fa-instagram"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>