<div id="container">
  <canvas [height]="browserWindow.innerHeight" [width]="browserWindow.innerWidth" #myCanvas></canvas>
    <button id="button" routerLink="/order" class="btn btn-success col-md-2 col-centered offset-md-5">Order Now &nbsp;<i class="fa fa-arrow-circle-o-right"></i>
    </button>
    <h1 class="display-4 col-centered col-md-6 offset-md-3 pt-5" style="color:rgb(72, 79, 2);text-align: center">
      Now Serving in IIT Kharagpur
    </h1>
    <h3 style="color:rgb(220, 100, 20); text-align: center" class="display-5 col-centered col-md-4 offset-md-4 pt-2">From 2:00 pm to 2:00 am</h3>
    <img src="./assets/images/shake.png" alt="image" class="col-md-5 offset-md-1" style="height:500px">
</div>