<div id="container" style="background: rgb(244, 251, 243)">
  <canvas [height]="browserWindow.innerHeight" id="smallscreenhide" [width]="browserWindow.innerWidth" #myCanvas></canvas>
  <button disabled routerLink="/order" class="btn btn-success col-md-2 col-centered offset-md-5" id="smallscreenhide">Order Now &nbsp;<i class="fa fa-arrow-circle-o-right"></i>
    </button>
  <div>
    <h1 class="display-4 col-centered col-md-6 offset-md-3 pt-5" style="color:rgb(72, 79, 2);text-align: center;">
      Dear, IIT Kharagpur
    </h1>
    <h3 style="color:rgb(220, 100, 20); text-align: center; font-style: italic" class="display-5 col-centered col-md-4 offset-md-4 pt-2">We are awestruck by your overwhelming response. <br> <span style="color:rgb(37, 58, 43)">We are having some trading issues. We will be back with our service soon.</span></h3>
    <div  id="smallscreenshow"  style="text-align:center; margin: 30px">
      <button disabled routerLink="/order"class="btn btn-success">
        Order Now &nbsp;<i class="fa fa-arrow-circle-o-right"></i>
      </button>
    </div> 
  </div>
  <img src="./assets/images/shake.png" id="smallscreenhide" alt="image" class="col-md-5 offset-md-1" style="height:480px;width: 420px; position: relative;">
</div>

<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">We’re a startup aiming to bring fresh organic products to the increasingly heath conscious society.
At Cherry Brooklyn, we ensure our juices are 100% pure with zero added flavours or preservatives.
We believe you deserve nothing but the best in quality and hence our shakes contain no added
water-only pure milky goodness and fresh fruity delight. Our shakes will leave your taste buds
satisfied and your body nourished! Be it the breakfast table, lunch box, office desk or a post workout
session; squeeze in a little bit of health and goodness to your busy schedule. Straight out of nature’s
belly, Cherry Brooklyn at your service!</p>
          </div>

          <div class="col-xs-6 col-md-3 offset-md-1">
            <h6>Flavors</h6>
            <ul class="footer-links">
              <li><a href="/order">Broadway Butterscotch</a></li>
              <li><a href="/order">Greenwich Chikoo</a></li>
              <li><a href="/order">Manhattan Choco Banana</a></li>
              <li><a href="/order">Mapleton Apple</a></li>
              <li><a href="/order">Queens Strawberry</a></li>
              <li><a href="/order">Wall Street Frappe</a></li>
              <li><a href="/order">Woodhaven Papaya</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-2">
            <h6>Reach Us</h6>
            <ul class="footer-links">
              <li>Phone:<br> +919933887996</li>
              <li>Email: <br><a href="mailto:contact@cherrybrooklyn.com">contact@cherrybrooklyn.com</a></li>
              <li>Address: <br>24th Main, 2nd Phase, JP Nagar, Bengaluru, Karnataka - 560078</li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
         <a href="#">CherryBrooklyn</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/pg/CherryBrooklyncom"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/CherryBrooklyn_"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="https://www.instagram.com/cherrybrooklyn_in"><i class="fa fa-instagram"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
