.button-wrapper{
    text-transform: uppercase;
    border: 1px solid #d4d5d9;
    display: inline-block;
    background: #fff;
    font-size: 12px;
    color: #60b246;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
    width: 80px;
    cursor: pointer;
}

.button-wrapper:hover{
    box-shadow: 1px 1px 2px 0px #f5f5f5;
}

.button{
    padding-left: 15px;
    padding-right: 15px;
}

.order-count{
    padding-left: 8px;
    padding-right: 8px;
}

.remove{
    color: #ccc;
    width: 20px;
    text-align: center;
   
}

.add{
    width: 20px;
    text-align: center;
}