<!-- <ul style="list-style: none">
  <li id="milkshakes">Milk Shakes</li>
  <li id="fruitjuices">Fruit Juices</li>
  <li id="mojitos">Mojitos</li>
</ul> -->

<div class="row category-wrapper container">
  <div class="col-md-12 col-4 mb-0 category-item" id="milkshakes" (click)="updateType(1)">Milkshakes</div>
  <div class="col-md-12 col-4 mb-0 category-item" id="fruitjuices" (click)="updateType(2)">Fruit Juices</div>
  <div class="col-md-12 col-4 mb-0 category-item" id="mojitos" (click)="updateType(3)">Mojitos</div>
</div>